In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
salmon_data = pd.read_pickle('salmon_data.pkl').sample(6000)
salmon_data.to_pickle('salmon_data.pkl')
salmon_data.head()

,Species,Length.Measurement.Type,sampleYear,ASLProjectType,LocationID,sampleDate,Length,Weight,Sex,Salt.Water.Age,...,Flag,Gear,SASAP.Region,LocationUnique,DistrictID,Sub.DistrictID,Stat.area,Lat,Lon,AWC_CODE
7776219,sockeye,mid-eye to fork of tail,2003.0,commercial catch,Kuthai Lake,2003-07-28,555.0,NaN,female,3.0,...,NaN,weir,Southeast,Kuthai Lake-commercial catch-11132,111.0,32.0,11132.0,59.233695,-133.261522,NaN
8159307,sockeye,mid-eye to fork of tail,1986.0,commercial catch,Nelson River,1986-06-22,440.0,NaN,male,2.0,...,NaN,NaN,Alaska Peninsula and Aleutian Islands,Nelson River-commercial catch-31330,313.0,30.0,31330.0,NaN,NaN,NaN
8503621,sockeye,mid-eye to fork of tail,1976.0,commercial catch,Nushagak District,1976-07-07,539.0,NaN,male,2.0,...,NaN,gillnet,Bristol Bay,Nushagak District-commercial catch-325,325.0,NaN,NaN,NaN,NaN,NaN
217179,chinook,mid-eye to fork of tail,1988.0,commercial catch,District 110,1988-06-07,658.0,NaN,examined but did not identify,3.0,...,NaN,troll,Southeast,District 110-commercial catch-110,110.0,NaN,NaN,NaN,NaN,NaN
13006531,sockeye,post orbit to hypural plate,1987.0,commercial catch,Tahltan Lake,1987-08-01,573.0,NaN,female,3.0,...,NaN,weir,Southeast,Tahltan Lake-commercial catch-10840,108.0,40.0,10840.0,NaN,NaN,NaN

In [4]:
salmon_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6000 entries, 7776219 to 5908279
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Species                   6000 non-null   object
 1   Length.Measurement.Type   5389 non-null   object
 2   sampleYear                5997 non-null   float64
 3   ASLProjectType            5907 non-null   object
 4   LocationID                6000 non-null   object
 5   sampleDate                5997 non-null   object
 6   Length                    4469 non-null   float64
 7   Weight                    321 non-null    float64
 8   Sex                       5402 non-null   object
 9   Salt.Water.Age            4944 non-null   float64
 10  DataSource                6000 non-null   object
 11  cardNo                    2588 non-null   object
 12  fishNum                   2678 non-null   object
 13  Age.Error                 1547 non-null   object
 14  Fresh.Water.Age           5128 non-null   float64
 15  Sex.Determination.Method  920 non-null    object
 16  subSystem                 20 non-null     object
 17  Flag                      36 non-null     object
 18  Gear                      5401 non-null   object
 19  SASAP.Region              6000 non-null   object
 20  LocationUnique            6000 non-null   object
 21  DistrictID                5946 non-null   float64
 22  Sub.DistrictID            3889 non-null   float64
 23  Stat.area                 3889 non-null   float64
 24  Lat                       2263 non-null   float64
 25  Lon                       2263 non-null   float64
 26  AWC_CODE                  2054 non-null   object
dtypes: float64(10), object(17)
memory usage: 1.3+ MB